<app-header></app-header>
<div class="container">
    <form action="" #registerform="ngForm">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="login-form mx-auto">
                <h2 class="login-header">Đăng ký tài khoản</h2>
                <div class="form-group">
                    <label for="phone">Phone</label>
                    <input type="phone" class="form-control" 
                        name="phoneNumber"
                        [(ngModel)]="phoneNumber"
                        (input)="registerform.form.markAsTouched()"
                    id="phone" required>
                    <div class="diviler-nospace"></div>
                    <p class="text-danger" 
                    *ngIf="phoneNumber.length<9 && registerform.form.touched">Phone phải có ít nhất 9 kí tự</p>
                </div>
                <div class="form-group mt-3 password-field">
                    <label for="password">Mật khẩu</label>
                    <input type="password" placeholder="Ít nhất 6 ký tự"
                         class="form-control"
                            name="password"
                            [(ngModel)]="password"
                            (input)="registerform.form.markAsTouched()"
                            id="password" >
                         <i class="password-toggle fas fa-eye-slash"></i>
                    <div class="diviler-nospace"></div>
                    <p class="text-danger" 
                    *ngIf="password.length<6 && registerform.form.touched">Mật khẩu phải có ít nhất 6 kí tự</p>
                </div>
                <div class="form-group mt-3 password-field">
                    <label for="re-password">Gõ lại mật khẩu</label>
                    <input type="password" placeholder="Ít nhất 6 ký tự"
                         class="form-control"
                         name="retypePassword"
                         [(ngModel)]="retypePassword" 
                         (input)="registerform.form.markAsTouched(); checkPasswordsMatch()"
                         required   id="re-password">
                         <i class="password-toggle fas fa-eye-slash"></i>
                    <div class="diviler-nospace"></div>
                    <p class="text-danger" *ngIf="registerform.controls['retypePassword']?.hasError('passwordMismatch') 
                    && registerform.form.touched">Mật khẩu không khớp!</p>
                </div>
                <div class="form-group mt-3">
                    <label for="name">Họ và tên</label>
                    <input type="text" class="form-control"
                    name="fullName"
                    [(ngModel)]="fullName"
                    id="name">
                    <div class="diviler-nospace"></div>
                </div>
                <div class="form-group mt-3">
                    <label for="birth">Ngày sinh</label>
                    <input type="date" class="form-control"
                    name="dateOfBirth"
                    [(ngModel)]="dateOfBirth"
                    id="birth">
                    <div class="diviler-nospace"></div>
                </div>
                <div class="form-group mt-3">
                    <label for="address">Địa chỉ</label>
                    <input type="text" class="form-control"
                    name="address"
                    [(ngModel)]="address"
                    id="address">
                    <div class="diviler-nospace"></div>
                </div>
                <div class="form-group mt-4">
                    <div class="form-check checkbox-text">
                        <span style="display: flex;">
                            <input type="checkbox" class="form-check-input"
                            [(ngModel)]="isAccepted"
                            name="isAccepted"
                            id="remember">
                            <label for="remember" class="form-check-label text text-start" >
                                Tôi đồng ý với các điều khoản
                            </label>
                        </span>
                    </div>
                </div>
                <button (click)="register()" class="login-button">Đăng ký</button>
                <p class="text-center">Bạn đã có tài khoản?
                    <span><a routerLink="/login">Đăng nhập</a></span>
                </p>
            </div>
        </div>
    </div>
</form>
</div>
<app-footer></app-footer>