header {
    background-color: rgb(0, 0, 0);
    color: rgb(173, 178, 203);
}

.navbar {
    background-color: rgba(0, 0, 0, 0) !important;
}

.navbar .container {
    background-color: rgba(0, 0, 0, 0) !important;
}

.navbar .container .navbar-brand {
    color: rgb(173, 178, 203);
}

.navbar .container .navbar-nav .nav-link {
    color: rgb(173, 178, 203);
    border-radius: 18px;
    padding: 8px 16px;
}

.navbar .container .navbar-nav .nav-link.active {
    background-color: rgb(127, 68, 255) !important;
    color: white !important;
}
.navbar .container .navbar-nav .nav-link:hover{
    background-color: rgb(127, 68, 255) !important;
    color: white !important;
    border-radius: 18px;
}
.item-user{
    position: relative;
}
.item-user:hover{
    cursor: pointer;
}

.sub-menu{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: black;
    list-style-type: none;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    border-radius: 8px;
    padding-left: 0;
}
.sub-menu li{
    padding-bottom: 5px;
    border-radius: 4px;
    padding-left: 15px;
}
.sub-menu li:hover{
    background-color: rgb(127, 68, 255);
    cursor: pointer;
}
.item-user:hover .sub-menu{
    display: block;
}
.item-user ul a{
    text-decoration: none;
    color: #fff;
}