.container{
    color: white;
}
.intro-section {
    text-align: center;
    color: white;
    padding: 20px;
}
.user-header{
    color: rgb(233,66,176);
}
.form-control{
    background-color: rgb(19,23,42);
    border: 1px solid rgb(19,33,54);
    color: white;
}
.form-control:focus{
    border-color: white;
    background-color: rgb(19,23,42);
}
.form-label{
    color: white;
}
.note-area{
    height: 100px;
}
.note-area::placeholder{
    color: rgb(120, 115, 115);
}
.order-header{
    color: rgb(185, 244, 181);
    margin-bottom: 35px;
}
table{
    width: 100%;
    border-radius: 10px;
    border: none;
    border-collapse: separate;
    border: 1px solid white;
    border-spacing: 0;
    background-color: rgb(12,13,54);
}
th,
td{
    padding: 10px;
    text-align: center;
}
.product-info{
    display: flex;
    align-items: center;
}
.product-image{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    margin-right: 10px;
}
.product-name{
    color: white;
    margin-right: 10px;
}
.discount-info{
    color: rgb(233,66,176);
}
.text-dis{
    color: white;
}
.method-act{
    display: flex;
}
.option{
    
    margin-left: 20px;
}
.shipping{
    display: flex;
}
.shipping-method{
    width: 50%;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: 20px;
}
.form-check-label{
    margin-left: 10px;
}
.btn-gradient{
    background: linear-gradient(to right,rgb(225,64,180),rgb(126,43,237));
    color: white;
    border-radius: 30px;
    width: 50%
}
.btn-gradient:hover{
    background: linear-gradient(to right,rgb(237, 19, 175),rgb(109, 12, 234));
}
