.intro-section {
    text-align: center;
    color: white;
    margin-bottom: 7px;
}

.category-sy {
    background-color: rgb(39, 43, 84);
    border-radius: 10px;
    padding: 30px 10px;
    margin-bottom: 20px;
}

.symbol-img {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: space-around;
    gap: 10px;
}

.item {
    border: 2px solid rgb(97, 96, 96);
    border-radius: 20px;
    width: 170px;
}

.item:hover {
    border: 2px solid rgb(255, 0, 0);
    cursor: pointer;
}

.img-section {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.search-input {
    width: 300px;
    background-color: rgb(19, 23, 42);
    border-color: rgba(255, 255, 255, 0.5);
    color: white;
    border-right: none;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
}

.fa-magnifying-glass {
    height: 33px;
    width: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

}

.search-btn {
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-color: rgba(255, 255, 255, 0.5);
    background-color: transparent;
    padding-bottom: 2px;
}

.search-btn:hover {
    cursor: pointer;
    background-color: rgb(75, 53, 96);
}

.form-control {
    background-color: transparent;
    color: white;
}

.form-control::placeholder {
    color: rgba(255, 255, 255, 0.5);
    color: white;
}

.product-item {
    background-color: rgb(19, 23, 42);
    border: 1px solid rgb(35 39 61);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
}


.product-img {
    width: 100%;
    height: 250px;
    margin-bottom: 10px;
    object-fit: cover;
    object-position: center;
}

.product-name {
    color: white;
    font-size: 23px;
}

.product-descript {
    color: rgb(173, 178, 203);
}
.detail-pr:hover{
    cursor: pointer;
    opacity: 0.7;
}
.product-warranty {
    color: rgb(242, 126, 212);
}

.product-price {
    color: white;
}

.product-rating {
    color: rgb(242, 242, 16);
    margin-top: 10px;
}

.product-actions {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.product-categories {
    width: 200px;
    color: rgb(255, 255, 255);
    background-color: rgb(20, 24, 73);
}

.pagination {
    display: flex;
    justify-content: center;
}

.pagination a {
    color: white;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a:active {
    background-color: #4CAF50;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    color: black;
    cursor: pointer;
}

.product-quantity{
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
.quantity-instruc{
    margin-right: 20px;
    font-size: 18px;
}
.product-quantity button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
    width: 35px;
}
.product-quantity button:hover{
    background: linear-gradient(rgb(34, 39, 70), rgb(40, 52, 98));
}
.card{
    display: none;
    background-color: rgb(40, 52, 98);
    color: #fff;
    min-width: 470px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
}
.card-img, .card-content{
    width: 50%;
    padding: 5px 15px;
}
.modal-container {
    display: none; /* Mặc định ẩn modal */
    position: fixed; /* Định vị cố định để modal không bị ảnh hưởng bởi cuộn trang */
    top: 0;
    left: 0;
    width: 100%; /* Chiều rộng của modal bằng 100% chiều rộng của cửa sổ trình duyệt */
    height: 100%;
    z-index: 999;
    background-color: rgba(29, 42, 70, 0.6);
}
.modal-display{
    display: block;
}
.close-icon{
    float: right;
    padding: 10px;
    border-radius: 2px;
}
.close-icon:hover{
    background-color: red;
    cursor: pointer;
}