<app-header></app-header>
<div class="container">
    <div class="intro-section">
        <h1>Chi tiết đơn hàng</h1>
    </div>
    
    <!-- Thông tin người nhận -->
    <div class="row">
        <div class="col-md-6">
            <h2 class="user-header">Thông tin người nhận</h2>
            <div class="mb-3">
                <p class="form-label">Họ và tên: {{order?.fullName}}</p>
            </div>
            <div class="mb-3">
                <p class="form-label">Số điện thoại: {{order?.phoneNumber}}</p>
            </div>
            <div class="mb-3">
                <p class="form-label">Địa chỉ: {{order?.shippingAddress}}</p>
            </div>
            <div class="mb-3">
                <p class="form-label">Ghi chú: {{order?.note}}</p>
            </div>
            <div class="mb-3">
                <p class="form-label">Phương thức vận chuyển: {{order?.shippingMethod}}</p>
            </div>
            <div class="mb-3">
                <p class="form-label">Phương thức thanh toán: {{order?.paymentMethod}}</p>
            </div>                        
        </div>

        <!-- Sản phẩm đã đặt hàng -->
        <div class="col-md-6">
            <h2 class="order-header">Sản phẩm đã đặt hàng</h2>
            <table>
                <thead>
                    <tr>
                        <th scope="col" class="text-start">Sản phẩm</th>
                        <th scope="col">Số lượng</th>
                        <th scope="col">Đơn giá</th>
                        <th scope="col">Tổng giá</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let detail of this.details">
                        <td>
                            <div class="product-info">
                                <img class="product-image"
                                    [src]="detail.product.url_img"
                                    alt="Product image">
                                <span class="product-name">{{detail.product.nameProduct}}</span>
                            </div>
                        </td>
                        <td>{{detail.numberOfProduct}}</td>
                        <td>{{detail.price.toLocaleString('vi-VN',{ style: 'currency', currency:'VND' })}}</td>
                        <td>{{detail.totalMoney.toLocaleString('vi-VN',{ style: 'currency', currency:'VND' })}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="text-start mt-3">
                <h4 class="header-text text-end">Tổng giá:   {{totalPrice.toLocaleString('vi-VN',{ style: 'currency', currency:'VND' })}}</h4>
            </div>            
        </div>
    </div>
</div>
<app-footer></app-footer>
